{
  "project_info": {
    "project_number": "230490133733",
    "firebase_url": "https://wearmmr-f8022.firebaseio.com",
    "project_id": "wearmmr-f8022",
    "storage_bucket": "wearmmr-f8022.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "CHANGEME",
        "android_client_info": {
          "package_name": "io.github.fobo66.wearmmr"
        }
      },
      "oauth_client": [
        {
          "client_id": "CHANGEME",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "CHANGEME"
        }
      ],
      "services": {
        "analytics_service": {
          "status": 1
        },
        "appinvite_service": {
          "status": 1,
          "other_platform_oauth_client": []
        },
        "ads_service": {
          "status": 2
        }
      }
    }
  ],
  "configuration_version": "1"
}