<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.fobo66.wearmmr">

  <uses-feature android:name="android.hardware.type.watch"/>

  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- Required for complications to receive complication data and open the provider chooser. -->
  <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@android:style/Theme.DeviceDefault">
    <uses-library
        android:name="com.google.android.wearable"
        android:required="true"/>
    <meta-data
        android:name="com.google.android.wearable.standalone"
        android:value="true"/>

    <activity
        android:name=".ui.MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.SettingsActivity"
        android:label="@string/title_activity_settings">
      <intent-filter>
        <action android:name=
            "io.github.fobo66.wearmmr.CONFIG_DIGITAL" />
        <category android:name=
            "com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <service
        android:name=".ui.MatchmakingRatingWatchFace"
        android:label="@string/mmr_watchface_name"
        android:permission="android.permission.BIND_WALLPAPER">
      <meta-data
          android:name="android.service.wallpaper"
          android:resource="@xml/watch_face"/>
      <meta-data
          android:name="com.google.android.wearable.watchface.preview"
          android:resource="@drawable/preview_digital"/>
      <meta-data
          android:name="com.google.android.wearable.watchface.preview_circular"
          android:resource="@drawable/preview_digital_circular"/>

      <!-- companion configuration activity -->
      <meta-data
          android:name="com.google.android.wearable.watchface.companionConfigurationAction"
          android:value="io.github.fobo66.wearmmr.CONFIG_DIGITAL"/>
      <!-- wearable configuration activity -->
      <meta-data
          android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
          android:value="io.github.fobo66.wearmmr.CONFIG_DIGITAL"/>

      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService"/>

        <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE"/>
      </intent-filter>
    </service>

    <service
        android:name=".RatingComplicationProviderService"
        android:icon="@drawable/ic_rating"
        android:label="@string/complications_provider_matchmaking_rating_name"
        android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">

      <meta-data
          android:name="android.support.wearable.complications.SUPPORTED_TYPES"
          android:value="SHORT_TEXT"/>

      <meta-data
          android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
          android:value="43200"/>

    <meta-data
        android:name="android.support.wearable.complications.SAFE_WATCH_FACES"
        android:value="io.github.fobo66.wearmmr.MatchmakingRatingWatchFace"/>

      <intent-filter>
        <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/>
      </intent-filter>
    </service>

  </application>

</manifest>